
<%= form_with(model: food) do |form| %>
<%= render "shared/error_form_message", resource: food %>
  <div>
    <%= form.label "Food name", style: "display: block" %>
    <%= form.text_field :name, required: true, class: "form-input" %>
  </div>

  <div>
    <%= form.label :measurement_unit, style: "display: block" %>
    <%= form.text_field :measurement_unit, required: true, class: "form-input" %>
  </div>

  <div>
    <%= form.label "Unit price", style: "display: block" %>
    <%= form.text_field :price, required: true, class: "form-input" %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity, required: true, class: "form-input" %>
  </div>

  <div class >
    <%= form.submit "Create Food", class: "btn"%>
  </div>
<% end %>